@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply p-5 md:p-10
}

@keyframes infinite-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.carousel {
    animation: infinite-carousel 15s infinite linear;
}

h2 {
 @apply text-5xl uppercase text-green;
}