@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply p-7 md:p-10
}

@keyframes infinite-carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.carousel {
    animation: infinite-carousel 10s infinite linear;
}